/* .bg-image {
   
    background-image: url('../img/newimg/aboutus.png');
    background-size: cover;
    background-position: center center;
    height: 40vh;
  

} */



  
p{
    padding: 30px,60px !important;
    line-height: 30px;
}
  
  /* @media (max-width: 768px) {
    .bg-image {
      background-size: contain;
      height: auto;
    }
  }*/
  .about{ 
    margin: 50px;
  }
  h4{
    padding-top: 20px;
  }
  .img-fluid{
    height: 250px;
    width: auto;
  }
