*{
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --primary-color: #faf9f8;
  }
.carousel-item img {
    max-height: 500px; /* Change this value as per your requirement */
    width: 100%;
    object-fit: cover;
  }
  .card-group {
    margin: 20px 0;
  }
  
  .card {
 
  }
  .card-s{
    max-width: 300px;
    -webkit-box-shadow: -5px 1px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 1px 20px 0px rgba(0,0,0,0.75);
box-shadow: -5px 1px 20px 0px rgba(0,0,0,0.75);
  }
  
  .card-img-top {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 20px;
  }
  
  .card-text {
    font-size: 16px;
  }
  .card {
    margin: 10px;
  }
  /* .footer-block{
    background-color: black;
  } */
  .services {
    background-color: transparent;
    border: none;
}
/* .ptechminds{
    background-color: red;
} */
.container{
    max-width: 1000px;
}
.navbar{
    background-color: var(--primary-color) !important;
}
.navbar{
    background-color:var(--primary-color);
    
}


.navbar-light .navbar-nav .active>.nav-link{
    font-weight: 600 !important;
    color:black !important;
}
.ptechminds{
    padding-bottom: 20px;
}
.services-back{
    padding-top: 20px;
    background-color: var(--primary-color);
}
.content-back{
    padding-top: 20px;
    background-color: var(--primary-color) !important;
    padding-bottom: 20px;
}
/* .text-display{
    /* margin-left: 0 !important;
    margin-right: 0 !important; */
    /* text-align: center;
    padding-bottom: 0 !important;
} */ 
.left-corner {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .right-corner {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  @media(max-width: 768px) {
    .left-corner, .right-corner {
      position: static;
      text-align: center;
    }
  }
  body {
    padding-top: 70px; /* Adjust this value to match the height of your navbar */
  }
  .content-back {
    background-color: #f8f9fa;
  }
  
  .content {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .h1 {
    font-size: 2rem;
    line-height: 1.2;
    white-space: nowrap;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  @media screen and (max-width: 767px) {
    .h1 {
      font-size: 1.2rem;
      line-height: 1.1;
    }
  }
  
  @media screen and (max-width: 576px) {
    .h1 {
      font-size: 8px;
      font-weight: 700;
      line-height: 1.05;
    }
  }
  /* .img-c{
    width: 800px;
    height: 00px;
  } */
  .carousel-item img {
    object-fit: cover;
    max-height: 500px;
  }
    /* width: 100% !important;
    height: 100%; */
  /* .img-c{
    height:300px !important;
  } */
  .nav-link:hover{
    background-color: red;
    padding: 7px;
    border-radius: 0.2rem;
  }
  .OUR-EXPERTISE{
    background-color: var(--primary-color) !important;
    
    padding: 50px;
  }
  .list-e>a{
    border: 1px solid black;
    background-color: #f8f9fa;
    padding: 10px !important;
    border-radius: 0.1rem;
    color: black;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  }
  .list-e>a:hover{
    background-color: green;
    color: white;
  }
  /* .container{
    margin-left: 0;
    margin-right: 0;
  }
   */
   /* .row{
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
   } */